
button[disabled] {
    background-color: gray;
    cursor: not-allowed;
  }
  
  button:not([disabled]):hover {
    background-color: green; }
  

.sign-up-card {
    background-color: rgb(206, 203, 199);
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  body {
    background-color: rgb(209, 231, 231); /* Change this to your desired background color */
  }